<div class="container">
  <div class="jumbotron" id="homepage-box">
    <h2>Wikime</h2>
    <p>Create your own simple Wiki pages. Invite Collaborators. Create together.</p>
    <p><%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary btn-lg' %></p>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="panel panel-primary panel-height-fixed">
      <div class="panel-heading">
        <h3 class="panel-title">Free Plan</h3>
      </div>
      <div class="panel-body">
        <ul><h4>Build basic articles that everyone can edit.</h4>
          <li>Create articles.</li>
          <li>Use Markdown syntax to make them look nice.</li>
          <li>Invite collaborators to edit them.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="panel panel-success panel-height-fixed">
      <div class="panel-heading">
        <h3 class="panel-title">Premium Plan</h3>
      </div>
      <div class="panel-body">
        <ul><h4>Build basic articles your friends and colleagues can edit.</h4>
          <li>Create articles.</li>
          <li>Use Markdown syntax to make them look nice.</li>
          <li>Invite collaborators to edit them.</li>
          <li>Make sensitive Wikis private so only your team can see them.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
