<div class="well" id="signup-box">
  <h1>Create a New Wiki</h1>
  <p><ul>
    <li>Wikis will be editable by anyone.</li>
    <li>Premium users can make Wikia private</li>
    <li>Click <a href="#">here</a> to upgrade your account.</li>
  </ul></p>

  <%= render 'form' %>

  <br>
  <%= link_to 'Cancel', wikis_path, :class => "btn btn-danger"%>
</div>
